/**

=========================================================
** Custom Typography styling
=========================================================

**/

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mb-8;
  }

  h1,
  .h1 {
    @apply text-h1;
  }
  h2,
  .h2 {
    @apply text-h2;
  }
  h3,
  .h3 {
    @apply text-h3;
  }
  h4,
  .h4 {
    @apply text-h4;
  }
  h5,
  .h5 {
    @apply text-h5;
  }
  h6,
  .h6 {
    @apply text-h6;
  }
  small,
  .small {
    @apply text-mini;
  }

  p {
    @apply my-8;
    &:last-child,
    &:first-child {
      margin-top: 0;
      margin-bottom: 0;
    }
    + p {
      margin-top: 0;
    }
  }

  p,
  ul,
  ol,
  blockquote {
    @apply leading-6;
  }
}
